<footer>
    <h6 class="text-center footer py-5 mb-0 bg-secondary">Copyright &copy; 2022, Tech Blog - Created by Azubogu Kosisochukwu</h6>

    <script src="/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
</footer>