<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="container w-75">
        <h2 class="my-5 text-center">Create a New Blog</h2>

        <form class="justify-content-center d-flex flex-column">
            <% if (user) { %>
                <input type="text" name="author" value="<%= user.username %>" hidden required><br><br>
            <% } %>
            
            <label for="title">Blog Title:</label>
            <input type="text" name="title" required><br><br>

            <label for="snippet">Blog Snippet:</label>
            <input type="text" name="snippet" required><br><br>

            <label for="body">Blog Body:</label>
            <textarea name="body" rows="5" required></textarea><br><br>

            <div class="d-md-flex text-center">
                <div class="text-center">
                    <label for="image">Select a Header Image (optional):</label><br><br>
                    <div class="image-container" onclick="document.getElementById('header_image').click()">
                        <img src="http://localhost:3001/default.png" alt="" id="headerImgPrev" class="img-fluid rounded w-75">
                    </div><br>
                    <input type="file" name="header_image" class="header_image" id="header_image" style="visibility: hidden;">
                    <p id="headerErrorMsg"></p>
                </div>
            </div><br><br>

            <button class="submit btn-primary px-3 py-2">Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        const form = document.querySelector('form');
        const headerImg = document.getElementById('header_image');
        const headerImgPrev = document.getElementById('headerImgPrev');
        const headerErrorMessage = document.getElementById('headerErrorMsg');

        headerImg.addEventListener('change', (e) => {
            const headerImgD = document.querySelector('input[type=file].header_image').files[0];
            previewHeaderImage(headerImgD);
        });

        const previewHeaderImage = (imgD) => {
            const reader = new FileReader();
            reader.addEventListener("load", function() {
                headerImgPrev.src = reader.result;
            })
            if(imgD){
                if (imgD.type === "image/jpeg" || imgD.type === "image/png" || imgD.type === "image/jpeg" || imgD.type === "image/jpg" || imgD.type === "image/gif"){
                    reader.readAsDataURL(imgD);
                    headerErrorMessage.innerText = "";
                    if (imgD.size > 2 * 1024 * 1024) {
                        headerErrorMessage.innerText = "File size should be less than 2MB";
                    }
                } else {
                    headerErrorMessage.innerText = "File type should be an image";
                }
            }
        };

        const checkFile = (file) => {
            if (!file){
                console.log('no image!');
                return;
            } else{
                // check file type - if it's an image
                if(!['image/jpeg', 'image/gif', 'image/png', 'image/svg+xml'].includes(file.type)) {
                    return console.log('Only images are allowed!');
                }

                // check file size (< 2MB)
                if(file.size > 2 * 1024 * 1024) {
                    return console.log('File size must be less than 2MB!');
                }
            }
        };

        form.addEventListener('submit', async (e) => {

            e.preventDefault();

            // run func to check the file's validity
            checkFile(headerImg.files[0]);

            // sends the form data and gets response
            const response = await fetch('/blogs', {
                method: 'POST',
                body: new FormData(form)
            });
            const data = await response.json();

            if (data.error) {
                console.log(data.error);
            }
            if (data.success) { // if there are no errors, redirect to the homepage
                location.assign('/');
            }
        });
    </script>
</body>
</html>